<div class="footer-above">
    <div class="container">
        <div class="row">
            <div class="footer-col col-md-6">
                <h3><i class="fa fa-comment" style="color: #18BC9C"></i> Biography</h3>
                <p>
                    A student's greatest contribution in eSports is to be an example that gaming won't ruin your
                    studies.
                    Study hard, play harder, graduate and show them who's the boss :sunglasses:
                </p>
            </div>
            <div class="footer-col col-md-6">
                <h3><i class="fa fa-heart" style="color: #ff6fa8"></i> Get connected</h3>
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/{{ site.facebook }}" class="btn-social btn-outline">
                            <span class="sr-only">Facebook</span>
                            <i class="fa fa-fw fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/{{ site.twitter }}" class="btn-social btn-outline">
                            <span class="sr-only">Twitter</span>
                            <i class="fa fa-fw fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/{{ site.instagram }}" class="btn-social btn-outline">
                            <span class="sr-only">Instagram</span>
                            <i class="fa fa-fw fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitch.tv/{{ site.twitch }}" class="btn-social btn-outline">
                            <span class="sr-only">Twitch</span>
                            <i class="fa fa-fw fa-twitch"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer-below">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                Copyright &copy; SliceOfBiancakes 2017.
                All rights reserved.
                Powered by <a href="https://github.com/marlosoft/sliceofbiancakes.com">
                    <i class="fa fa-github"></i> Github
                </a>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>$(function () {$('[data-toggle="tooltip"]').tooltip()})</script>