<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="col-sm-3 col-xs-6">
                <a href="https://sg.secretlab.co/" data-toggle="tooltip" data-placement="top" title="SecretLab">
                    <img alt="SecretLab" title="SecretLab" class="img-responsive" src="/img/secretlab.png">
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="https://twitch.tv/" data-toggle="tooltip" data-placement="top" title="Twitch">
                    <img alt="Twitch" title="Twitch" class="img-responsive" src="/img/twitch.png">
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="http://dota2.com/" data-toggle="tooltip" data-placement="top" title="DotA 2">
                    <img alt="DotA 2" title="DotA 2"
                         class="img-responsive" src="/img/dota2.png">
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="https://www.tier.one/" data-toggle="tooltip" data-placement="top" title="Tier One Entertainment">
                    <img alt="Tier One Entertainment" title="Tier One Entertainment" class="img-responsive" src="/img/tier1.png">
                </a>
            </div>
        </div>
    </div>
</div>
