<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="col-sm-3 col-xs-6">
                <a href="https://secretlab.co/">
                    <img alt="SecretLab" title="SecretLab" style="padding-top: 50px"
                         class="img-responsive" src="https://secretlab.co/assets/images/logo.png">
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="https://twitch.tv/">
                    <img alt="Twitch" title="Twitch" style="padding-top: 20px"
                         class="img-responsive" src="https://www-cdn.jtvnw.net/images/twitch_logo3.jpg">
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="http://www.mineski.net/">
                    <img alt="Mineski" title="Mineski" style="padding-top: 30px"
                         class="img-responsive" src="https://static-cdn.jtvnw.net/jtv_user_pictures/panel-22230083-image-0e437a1723dd6630-320-320.png">
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="https://www.tier.one/">
                    <img alt="Tier One Entertainment" title="Tier One Entertainment"
                         class="img-responsive" src="https://www.tier.one/images/T1LogoBlack.png">
                </a>
            </div>
        </div>
    </div>
</div>