<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="col-sm-3 col-xs-6">
                <a href="https://secretlab.co/" data-toggle="tooltip" data-placement="top" title="SecretLab">
                    <img alt="SecretLab" title="SecretLab" style="padding-top: 50px"
                         class="img-responsive" src="https://secretlab.co/assets/images/logo.png">
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="https://twitch.tv/" data-toggle="tooltip" data-placement="top" title="Twitch">
                    <img alt="Twitch" title="Twitch" style="padding-top: 20px"
                         class="img-responsive" src="https://www-cdn.jtvnw.net/images/twitch_logo3.jpg">
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="http://www.mineski.net/" data-toggle="tooltip" data-placement="top" title="Mineski">
                    <img alt="DotA 2" title="DotA 2"
                         class="img-responsive" src="/img/dota2.jpg">
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="https://www.tier.one/" data-toggle="tooltip" data-placement="top" title="Tier One Entertainment">
                    <img alt="Tier One Entertainment" title="Tier One Entertainment"
                         class="img-responsive" src="https://www.tier.one/images/T1LogoBlack.png">
                </a>
            </div>
        </div>
    </div>
</div>